@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: var(--default-rem);
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    word-break: break-word;
}
h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    word-break: break-word;
}
p {
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.5;
    word-break: break-word;
}
a {
    text-underline-offset: 0.25rem;
    color: var(--blue-color-darkest);
    &:visited {
        color: var(--blue-color-darkest);
    }
    &:focus {
        outline: 3px solid var(--blue-color-dark);
    }
    &:active {
        color: #222;
        outline: none;
    }
}
table {
    border: 0;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    //if the table was to ever overflow for some reason
    //there will at least be a scrollbar
    overflow-x: auto;
    width: 100%;
}
thead {
    border: 0;
    font-weight: 600;
    background-color: var(--light-gray-color);
}
tbody {
    border: 0;
    display: flex;
    flex-flow: column nowrap;
    tr {
        border-top: 1px solid var(--gray-color);
    }
}
tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
}
th, td {
    padding: 0.5rem 0.7rem;
    flex: 1;
    word-break: break-word;
}
@media only screen and (max-width:480px) {
    thead {
        display: none;
    }
    tbody tr {
        flex-flow: column nowrap;
        &:nth-child(odd) {
            background-color: var(--light-gray-color);
        }
    }
    td {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: baseline;
        &::before {
            content: attr(data-th);
            display: inline-block;
            font-weight: 600;
            margin-right: 0.7rem;
        }
    }
}