:root {
    --default-rem: 16px;

    --main-color: #e11f2f;
    --main-color-dark: #ac1a25;
    --main-color-darkest: #5f0e14;

    --secondary-color: #01a951;

    --gray-color: #999;
    --light-gray-color: #eee;
}